.wp-core-ui {
  .button-clear {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .button-color-primary {
    color: $primary-color;
  }
}

.flex-centered {
  display: inline-flex !important;
  align-items: center;
}
