// 1. COLORS
$black: #444;
$medium-gray: #6c6c6c;
$gray: #7d7d7d;
$light-gray: #d8d8d8;
$white: #fff;

$primary-color: #0085ba;
$alert-color: #d94f4f;
$success-color: #03c481;


// 2. SIZES
$radius: 4px !default;
